:root {
  --un-prose-headings: rgba(0,0,0,0.7);
  --un-prose-body: rgba(0,0,0,0.7);
}


.TinyMDE {
  padding: 0!important;
  background: transparent!important;
  color: rgba(0,0,0,0.6)
}

.TMFencedCodeBacktick, .TMFencedCodeTilde, .TMIndentedCode, .TMCode {
  background-color: hsl(var(--main-hue), 30%, 70%)!important;
}

.TMMark_TMH1, .TMMark_TMH2, .TMMark_TMUL, .TMMark_TMOL {
  color: hsl(var(--main-hue), var(--main-saturation), 50%)!important
}

.TMH1 {
  font-size: 2rem!important;
  line-height: 1.25!important;
}

.TMH2 {
  font-size: 1.75rem!important;
  line-height: 1.25!important;
}

.TMH3 {
  font-size: 1.375rem!important;
  line-height: 1.25!important;
}


.prose :where(ul):not(:where(.not-prose,.not-prose *)) {
  margin: 0;
  line-height: 1.375em;
}

.prose :where(p):not(:where(.not-prose,.not-prose *)) {
  margin: 0;
  line-height: 1.375em;
}

.prose :where(h1,h2,h3,h4,h5,h6):not(:where(.not-prose,.not-prose *)) {
  font-weight: 700!important;
}

.prose :where(h1):not(:where(.not-prose,.not-prose *)) {
  margin: 0;
  font-size: 2rem;
}

.prose :where(h1):not(:where(.not-prose,.not-prose *)):before {
  content: '# ';
  color: hsl(var(--main-hue), var(--main-saturation), 50%);
}

.prose :where(h2):not(:where(.not-prose,.not-prose *)) {
  margin-top: 0.5em;
  margin: 0;
  font-size: 1.75rem;
}

.prose :where(h2):not(:where(.not-prose,.not-prose *)):before {
  content: '## ';
  color: hsl(var(--main-hue), var(--main-saturation), 50%);
}

.prose :where(h3):not(:where(.not-prose,.not-prose *)) {
  margin-top: 0.5em;
  margin: 0;
  font-size: 1.375rem;
  font-weight: inherit!important;
}

.prose :where(h3):not(:where(.not-prose,.not-prose *)):before {
  content: '### ';
  color: rgba(0,0,0,0.4);
}

.prose :where(a):not(:where(.not-prose,.not-prose *)) {
  color: hsl(var(--main-hue), var(--main-saturation), 60%);
  text-decoration-color: hsl(var(--main-hue), var(--main-saturation), 75%);
}

.prose :where(hr):not(:where(.not-prose,.not-prose *)) {
  border: 1px solid hsl(var(--main-hue), var(--main-saturation), 80%);
  margin: 1.5em 0;
}